# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
*.egg
venv/
.env

# Database
*.db

# Node
node_modules/
frontend/dist/
frontend/.angular/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
